/* Global Styles */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--body-font);
  font-size: 16px;
  color: var(--bodyTextColor);
  scroll-behavior: smooth;
}

:root {
   
  /* font family */
  --body-font: 'Prompt', sans-serif;
  --primary-font:'Montserrat', sans-serif;
  
  /* colors */
  --section-bgColor:#f0f5f9;
  --bodyTextColor: #070807;
  --primary-color: #810000f6;
  --secondary-color: #0fbcf9;
  --navListColor: #6a6a6a;
  --primaryButtonColor: #6447e6f8;
  --SecondaryButtonColor: #043455;
  --white: #fff;
  --black:#000;
  --light-grey: #757577;

  /* font size */
  --extra-large: 3rem;
  --large: 2.5rem;
  --medium: 1.875rem;
  --medium-second: 1.5rem;
  --medium-third: 1.25rem;
  --medium-fourth: 1.125rem;
  --regular: 1rem;
  --small: 0.875rem;
  --icon--large: 2rem;
  --icon-medium: 1.5rem;
  --icon-small: 1rem;
  --icon-extraSmall: 0.875rem;
}

h1,h2,h3,h4 {
  font-family: var(--primary-font);
  font-weight: 700;
}

h3, h4 {
  color: var(--primary-color);
}

h1,h2 {
  color: var(--secondary-color);
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

p {
  font-size: var(--regular);
}

img {
  width: 100%;
}

.subtitle {
  font-family: var(--primary-font);
  font-weight: 700;
  margin-bottom: 0.625rem;
  letter-spacing: 1px;
  color: var(--primary-color);
  text-transform: capitalize;
}

.title {
  font-family: var(--primary-font);
  letter-spacing: 1px;
  font-weight: 700;
  font-size: var(--medium-third);
  text-transform: uppercase;
}


/* BUTTONS */

.btn {
 border: 1px solid transparent;
 padding: 0.8rem 1.5rem;
 letter-spacing: 1px;
 border-radius: 5px;
 white-space: nowrap;
 box-sizing: border-box;
 transition: all 0.3s ease-in;
 background: var(--primaryButtonColor);
 font-weight: 600;
 text-align: center;
 cursor: pointer;
}


/*===========================
           HEADER
============================
*/

.navbar{
  position: fixed;
  width: 100%;
  z-index: 1000;
  padding: 1.5rem;
  transition: all 0.3s ease;
}
.navbar.sticky{
  background: #fff;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar .navbar__content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.navbar .logo a{
  color: #8a0000;
  font-size: var(--medium-fourth);
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.navbar .navbar__list{
  display: inline-flex;
}

.navbar__list li a{
  color: var(--navListColor);
  font-size: var(--regular);
  font-weight: 500;
  margin-left: 1.5rem;
  text-decoration: none;
  transition: all 0.3s ease;
}
.navbar__list li a:hover{
  color: #8a0000;
}


.icon{
  color: #000;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.navbar__list .cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}



@media (max-width: 990px) {
  /* body.disabled{
    overflow: hidden;
  } */
  .icon{
    display: block;
  }
  .icon.hide{
    display: none;
  }
  .navbar .navbar__list{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 2.5rem 0;
    text-align: center;
    background: #222;
    transition: all 0.3s ease;
  }
  .navbar.show .navbar__list{
    left: 0%;
  }
  .navbar .navbar__list li{
    margin-top: 45px;
  }
  .navbar .navbar__list a{
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: #fff;
  }
  .navbar.show .navbar__list li a{
    margin-left: 0px;
  }

  .navbar__list .cancel-btn{
  color: #fff;
}

}


 /*=============================
        SECTION HOME
================================
*/

.home {
  padding-top: 1rem;
}

.home__inner {
  text-align: center;
}

.home__inner .home__image {
  width: 100%;
  height: auto;
  
}

.home__inner .home__content {
  width: 100%;
}

.home__content .home__button {
  display: inline-block;
  width: 100%;
  margin: 0.625rem 0;
}

.home__content .home__button button {
  margin: 5px 0;
  color: var(--white);
  text-transform: uppercase;
}

.home__content .conditional-text {
  font-size: var(--small);
  color: var(--light-grey);
}

/*=============================
        SECTION ABOUT
================================
*/

.about {
  padding: 1rem 0;
  text-align: center;
}

.about__wrapper .title {
  margin-bottom: 1rem;
}

.about__inner .about__content .about__icon {
  display: inline-block;
  margin: 1rem 0;
}

.about__inner .about__content .about__icon .i-circle {
  width: 3.5rem;
  height: 3.5rem;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  line-height: 56px;
  text-align: center;
  padding: .825rem;
  vertical-align: middle;
  color: var(--primary-color);
}

.about__content .about__desc h3 {
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.about__content .about__desc p {
  text-align: justify;
  line-height: 1.4;
  font-size: var(--small);
}



/*==============================
        SECTION FEATURES
================================
*/


.features {
 padding: 1rem;
 text-align: center;
 margin-top: 5rem;
}

.features__wrapper .title{
 margin-bottom: 2rem;
 text-align: center;
}

.features__inner .features__component .features__image {
  width: 100%;
  margin-bottom: 1rem;
}

.features__inner .features__component .features__image img {
  max-width: 80%;
  height: auto;
  text-align: center;
}

.features__content .features__desc {
  margin-bottom: 1rem;
}

.features__content .features__desc h4 {
  font-size: var(--small);
  text-transform: capitalize;
  font-weight: 800;
  margin-bottom: 1rem;
  letter-spacing: 1px;
}

.features__content .features__desc h3 {
  font-weight: 800;
  font-size: var(--medium-fourth);
  text-transform: capitalize;
  color: var(--secondary-color);
  margin-bottom: 1rem;
}

.features__content .features__desc p {
  text-align: justify;
  font-size: var(--small);
  line-height: 1.4;
}

.features__content .features__list {
  font-size: var(--small);
}

.features__content .features__list ul li{
  display: inline-block;
  margin: 5px;
  text-align: center;
  
}

.features__content .features__list .small-icon {
  vertical-align: middle;
  color: var(--secondary-color);
}

.features__inverted .features__image {
  margin-top: 2rem;
}


/*=============================
        SECTION INTRO
================================
*/

.intro {
  padding: 1rem;
  margin-top: 2rem;
}

.intro__wrapper h1 {
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.intro__wrapper p {
  text-align: justify;
  font-size: var(--small);
  margin-bottom: 1rem;
}

.intro__inner .intro__image {
  width: 100%;
  margin-bottom: 1rem;
}

.intro__inner .intro__image img {
  max-width: 100%;
}

.intro__inner .intro__content {
  text-align: center;
}

.intro__inner .intro__content h3 {
  text-transform: capitalize;
  line-height: 1.4;
  margin-bottom: 1rem;
}

.intro__inner .intro__content button {
  color: var(--white);
}


/*=============================
        SECTION PRICING
================================
*/

.pricing {
  padding: 1rem;
  margin-top: 2rem;
  text-align: center;
}

.pricing__wrapper h1{
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.pricing__wrapper .pricing__leadText {
  text-align: justify;
  font-size: var(--small);
}

.pricing__inner .pricing__card{
  
  max-width: 25rem;
  background-color: #fff;
  margin: 2rem auto;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  color: #2d2d2d;
  transition: .3s linear;
}

.pricing__card-header {
  background-color: #0fbcf9;
  display: inline-block;
  color: #fff;
  padding: 0.75rem 1.875rem;
  border-radius: 0 0 1.25rem 1.25rem;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  transition: .4s linear;
}

.price {
  color: #0fbcf9;
  margin: 2.5rem 0;
  transition: .2s linear;
  font-size: var(--medium);
}

.price sup, .price span{
  font-size: var(--medium-third);
  font-weight: 700;
}

.pricing__card li {
  font-size: var(--regular);
  padding: .825rem 0;
  text-transform: uppercase;
}

.order-btn{
  display: inline-block;
  margin-bottom: 2.5rem;
  margin-top: 3rem;
  border: 2px solid #0fbcf9;
  color: #0fbcf9;
  padding: 1.125rem 2rem;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 500;
  transition: .3s linear;
}

.order-btn:hover{
  background-color: #0fbcf9;
  color: #fff;
}



/*=============================
        SECTION FOOTER
================================
*/

.footer {
  padding: 1rem;
  margin-top: 2rem;
  text-align: center;
  
}

.footer__content h3{
   color: #8a0000;
  font-size: var(--medium);
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1rem;
 }

 .footer__content p {
   font-size: var(--regular);
  
 }

 .footer__content .socials {
   width: 100%;
   margin: 1rem 0;
 }

 .footer__content .socials li {
   display: inline-block;
   padding: 0 1rem 0 0;
 }

 .footer__content .socials li a {
   color: var(--black);
   font-size: var(--icon-medium);
 }





/*==========================================
          MEDIA QUERIES
============================================
*/

/*  Small devices (landscape phones, 540px and up) */
 @media all and (min-width:33.625em) {

  .subtitle {
     font-size: var(--medium-fourth);
  }

  .title {
    font-size: var(--medium);
  }

  /* header section */

  .navbar {
    padding: 2rem;
  }

  .navbar .logo a{
    text-align: left;
  }
  

   /* home section */

   .home {
     width: 100%;
   }

   .home__inner .home__image {
     width: 100%;
   }

   .home__inner .home__image img {
     max-width: 70%;
   }

  /* about section */

  .about__content .about__desc h3 {
    font-size: var(--medium-second);
  }

  .about__content .about__desc p {
    font-size: var(--regular);
  }

  /* features section */
  
  .features__inner .features__component .features__image {
    width: 100%;
  }
  .features__inner .features__component .features__image img {
    max-width: 50%;
  }

  .features__content .features__desc h4 {
    font-size: var(--medium-fourth);
  }

  .features__content .features__desc h3 {
    font-size: var(--medium-second);
  }

  .features__content .features__desc p {
    font-size: var(--regular);
  }

  /* intro section */

  .intro .intro__wrapper p {
    font-size: var(--regular);
  }

  .intro__inner .intro__image {
    width: 100%;
    text-align: center;
  }

  .intro__inner .intro__image img {
    max-width: 80%;
  }

  .intro__inner .intro__content h3 {
    font-size: var(--medium-second);
  }

  /* pricing */
 
  .pricing__wrapper .pricing__leadText {
    width: 100%;
    text-align: center;
    font-size: var(--regular);
  }

  /* footer */

 .footer__content p {
   width: 60%;
   margin: 0 auto;
 }


 }
/* Medium devices (tablets, 768px and up) */
@media all and (min-width:48em) {

 /* header section*/
 .navbar {
    padding: 2rem;
  }

/* home section */

.home {
  padding: 0 2rem;
}

.home .home__inner {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
}

.home__inner .home__image {
  width: 100%;
}

.home__inner .home__image img {
  max-width: 100%;
}

.home__inner .home__content {
  text-align: start;
  width: 90%;
}

.home__inner .home__content .subtitle {
  font-size: var(--regular);
}

.home__inner .home__content .title {
  font-size: var(--medium-second);
}

/* about section */

 .about {
   padding: 0 2rem;
 }

 .about .about__inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
   
 }

 .about__inner .about__content {
    margin: 0 1rem; 
 }

 .about__content .about__desc h3 {
   font-size: var(--medium-third);
 }

 .about__content .about__desc p {
   font-size: var(--small);
   text-align: center;
 }

 /* features section */

 .features {
   padding: 2rem;
 }

 .features .features__inner .features__component{
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .features__component > div {
   margin: 0 1rem;
   text-align: start;
   width: 100%;
 }

 .features__inner .features__component .features__image {
   width: 100%;
 }

 .features__inner .features__component .features__image img {
   max-width: 100%;
 }

 .features__inner .features__inverted {
   flex-direction: row-reverse;
 }

 .features__component .features__image img {
   max-width: 100%;
 }

 .features__content .features__desc h4 {
   font-size: var(--small);
 }

 .features__content .features__desc h3 {
   font-size: var(--medium-third);
 }

 .features__content .features__desc p {
   font-size: var(--small);
 }

 
 /* intro section */

 .intro {
   padding: 1rem 2rem;
 }

 .intro__wrapper .intro__leadText {
   width: 60%;
   text-align: center;
   margin: 0 auto;
 }

 .intro__wrapper .intro__inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 1rem;
 }

 .intro__inner > div {
   width: 100%;
   margin: 0 1rem;
 }

 .intro__inner .intro__image {
   width: 100%;
 }

 .intro__inner .intro__image img {
   max-width: 100%;
 }

 .intro__inner .intro__content {
   text-align: start;
 }

 .intro__inner .intro__content h3 {
   font-size: var(--medium-third);
 }

 .intro__inner .intro__content p {
   font-size: var(--small);
 }

 /* pricing */

 .pricing {
   padding: 0 2rem;
 }

 .pricing__wrapper .pricing__leadText {
   text-align: center;
   font-size: var(--regular);
 }

 .pricing__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: min(1600px, 100%);
  margin: auto;
 }

 .pricing__card {
   flex: 40%;
   margin: 0 1rem;
 }

 /* footer */

 .footer {
   padding: 0 2rem;
   text-align: center;
 }

 


 
 

}

 /* Large devices (desktops, 992px and up) */
 @media all and (min-width:62em) {
   .container {
     max-width: 1366px;
     padding: 0 3rem;
   }

   /* header */ 

   .navbar {
    padding: 2rem 3rem;
  }

   /* home */

   .home__inner .home__content .subtitle {
     font-size: var(--medium-third);
   }

   .home__inner .home__content .title {
     font-size: var(--large);
   }

   /* about */ 

   .about__wrapper .subtitle {
     font-size: var(--medium-third);
   }

   .about__wrapper .title {
     font-size: var(--large);
   }

   .about__inner .about__desc h3 {
     font-size: var(--medium-second);
   }

   .about__inner .about__desc p {
     font-size: var(--regular);
   }

   /* features */

   .features__wrapper .subtitle {
     font-size: var(--medium-third);
   }

   .features__wrapper .title {
     font-size: var(--large);
   }

   .features__component .features__content .features__desc h4 {
     font-size: var(--regular);
   }

   .features__component .features__content .features__desc h3 {
     font-size: var(--medium);
   }

   .features__component .features__content .features__desc p {
     font-size: var(--regular);
   }

   /* intro */

   .intro__wrapper .title {
     font-size: var(--large);
   }

   .intro__wrapper .intro__leadText {
     font-size: var(--medium-second);
   }

   .intro__inner .intro__content h3 {
     font-size: var(--medium);
   }

   .intro__inner .intro__content p {
     font-size: var(--regular);
   }

   /* pricing */

 .pricing__card {
   flex: 1;
 }

 /* footer */

 .footer {
   /* padding: 2rem 0; */
 }


 }
 


